

p The web is evolving; it&apos;s no longer just a platform for information, but complex interactions too. As we race into the future, how can we keep hold of the things that make the web special?

p Enhance Conf aims to get past the dogma and discuss how we might build a better web.

 <a href="./about.html">More details</a>


h2 Where
img(src="http://partnerships.typepad.com/civic/images/gre3.jpg", alt="RSA House")

br
a(href='./venue.html') The Great Hall, RSA House, London.

h2 Code of Conduct

p Enhance Conf is an inclusive event based on treating all individuals respectfully, regardless of gender, sexual orientation, age, disability, ethnicity, religion, language and/or framework preferences (or lack thereof). So please don’t be nasty or mean. Be nice. Be considerate. Be civil. It’s easy.

p
    a(href='./codeofconduct.html') Full code of conduct.
