doctype
html
  head
    link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='style.css', media='screen')
    title= title
    section
        h1
          a(href='./') Enhance Conf
        nav
          a(href='./about.html') About
          &nbsp;
          a(href='./sponsors.html') Sponsor
          &nbsp;
          a(href='./schedule.html') Schedule
          &nbsp;
          a(href='./venue.html') Venue
          &nbsp;
          a(href='./tickets.html') Tickets
          &nbsp;
          a(href='./contact.html') Contact
          &nbsp;
          a(href='./codeofconduct.html') Code of Conduct
          &nbsp;

          //a(href='./speaker/bob.html') Speaker
        .content
            != yield