nav
    
  a(href='/about.html').about About
  &nbsp;
  a(href='/sponsors.html' ).sponsor Sponsor
  &nbsp;
  a(href='/speakers.html').speakers Speakers
  &nbsp;
  //- a(href='/venue.html').venue Venue
  //- &nbsp;
  a(href='/tickets.html').tickets Tickets
  &nbsp;
  //- a(href='/contact.html').contact Contact
  //- &nbsp;
  //- a(href='/codeofconduct.html') Code of Conduct
  //- &nbsp;
//a(href='./speaker/bob.html') Speaker
