//- -console.log(speaker);
//-     
//-     a.twitter(href='https://twitter.com/' + speaker.twitter)=twitter
//-         img(src=speaker.image, height='100px')
//-     //- a.github(href='https://github.com/' + speaker.github)=speaker.github
//-     //-     img(src=speaker.image, height='100px')
//-     .name=speaker.name
//-     - var twitter = '@' + speaker.twitter
