.content

    p We&apos;re convinced <a href="http://en.wikipedia.org/wiki/Progressive_enhancement" target="_blank">progressive enhancement</a> remains an important aspect in pushing the boundaries of the web while still providing a robust experience for every user.


    p We wanted a conference covering the state of the art in <a href="http://en.wikipedia.org/wiki/Progressive_enhancement" target="_blank">progressive enhancement</a>; focussing on providing the best experience to the widest possible audience.

    p Topics we want to cover include:

    ul
        li Device/Network agnostic design
        li Isomorphic apps
        li Offline apps
        li Web Components

        li Application architectures
        li Isomorphic apps
        li Offline apps
        li Device/network-agnostic design
        li Progressive Apps
        li Web Components

    p EnhanceConf will be a community event, any extra money from ticket sales will be put back into the event.

    p We may dive into a particular language, library or framework but the focus will be on techniques rather than specific implementations.

    p EnhanceConf has a <a href="/code-of-conduct.html">Code of Conduct</a>. It will be enforced.
