h2 About


p We&apos;re convinced that progressive enhancement remains an important aspect in pushing the boundaries while still providing a robust experience for every user.

p We wanted a conference which talks about the state of the art in progressive enhancement. Enhance Conf is that conference. Regardless of framework or language. We think we have something to learn from everyone.

p Enhance Conf aims to get past the dogma and discuss how we might build a better web — pushing what&apos;s possible while still serving the widest possible audience.

strong Enhance Conf is a non-profit event.
