h2 About


p We&apos;re convinced that progressive enhancement remains an important aspect in pushing the boundaries while still providing a robust experience for every user.

p This is not just a conference about progressive enhancement, it is about providing the best possible experience to the widest possible audience.

p.nw I wanted a conference that talked about the state of the art in progressive enhancement. That brought different communities together rathar than divide them. Somewhere to learn from one another and become greater than the sum of our parts.

p Enhance Conf is that conference. Regardless of your framework or language background we think you have something to contribute.

p This conference will be as much about the QandA as it will the talks.

p learn from how other people have solved similar problems.

p Enhance Conf aims to get past the dogma and discuss how we might build a better web — pushing what&apos;s possible while still serving the widest possible audience.

strong Enhance Conf is a non-profit event.
