h2 About

.content
    p We&apos;re convinced <a href="http://en.wikipedia.org/wiki/Progressive_enhancement" target="_blank">progressive enhancement</a> remains an important aspect in pushing the boundaries of the web while still providing a robust experience for every user.


    p We wanted a conference covering the state of the art in <a href="http://en.wikipedia.org/wiki/Progressive_enhancement" target="_blank">progressive enhancement</a>; focussing on providing the best experience to the widest possible audience.


    p EnhanceConf will be:

    ul
        li A place to discuss problems
        li A place to share solutions
        li A place to talk about strategy
        li A place to talk about the future
        li A place for different communities to come together


    p EnhanceConf will be a technology agnostic event. We may dive into a particular languange or library/framework but the focus will be on techniques rather than specific implementations.


    strong EnhanceConf is a non-profit event.
