h2 Code of Conduct

p Enhance Conf is an inclusive event based on treating all individuals respectfully, regardless of gender, sexual orientation, age, disability, ethnicity, religion, language and/or framework preferences (or lack thereof). So please don’t be nasty or mean. Be nice. Be considerate. Be civil. It’s easy.

p If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of conference staff. Or if you spot me, Simon McManus (I’ll introduce myself at the start of the day), please don’t hesitate to grab me. If you can’t immediately spot me or a volunteer, please speak to a member of the RSA staff and they’ll be able to get hold of me quickly.

p You can phone or text me on 0781 454 5689.

p Harassment includes offensive verbal comments related to gender, age, sexual orientation, disability, physical appearance, body size, race, religion, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.

p Participants asked to stop any harassing behavior must immediately comply. If a participant engages in any of the aforementioned behavior, we may take any action we deem appropriate, from warning the offender to immediately expelling the offender from EnhanceConf with no refund.


p
    small This document is based on <a href="http://codeofconduct.com">codeofconduct.com</a> and <a href="http://responsiveconf.com/codeofconduct">responsiveconf.com/codeofconduct</a>.
p
    small This document is licenced under a <a href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a>.