
h2 Community Sponsors

.content 
    p.nw We welcome community sponsors.  We are willing to offer a 20% discount on tickets to community sponsorship groups. All we ask is that you mention our event.  If you would like to discuss community sponsorship please <a href="./contact.html">contact us</a>.

    ul.communitySponsors
        li
            a(href="http://lnug.org", target="_new")
                img(src="./lnug_white.png", alt="London Node User Group (LNUG) logo")
