h2 Contact

.content
    p If you have a speaker suggestion, talk proposal or sponsorship request please don't hesitate to get in contact: 

    p
        a(href="http://twitter.com/enhanceconf") @EnhanceConf

    p
        a(href="mailto:info@enhanceconf.com") info@enhanceconf.com

    p If you would like to talk in person feel free to call Simon on:

    p
        a(href="tel:+447814545689") +44 781 454 5689
