

p Whether you have a speaker suggestion, would like to propose a talk or would like to talk to us about sponsorship we would love to hear from you:

p
    a(href="http://twitter.com/enhanceconf") @EnhanceConf

p
    a(href="mailto:info@enhanceconf.com") info@enhanceconf.com

