
p The web continues to evolve, it&apos;s no longer just a platform for information, but complex interactions too.  As we race into the future, how can we keep hold of the things that make the web special?

p EnhanceConf will be a community focussed, non-profit event dedicated to improving the web through <a href="http://en.wikipedia.org/wiki/Progressive_enhancement" target="_blank">progressive enhancement</a>.

p.details London -  2015

p
    a(href="/about.html") More info
    
p For updates follow <a href="http://twitter.com/enhanceconf" target="_blank">@EnhanceConf</a> or subscribe below:

#mc_embed_signup.wide
  form#mc-embedded-subscribe-form.validate(action='//enhanceconf.us10.list-manage.com/subscribe/post?u=51dfdc2ed16b49dcad396dd73&id=e8e09541e1', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
    #mc_embed_signup_scroll
      input#mce-EMAIL.email(type='email', value='', name='EMAIL', placeholder='email address', required='')

      input#mc-embedded-subscribe.button(type='submit', value='Subscribe', name='subscribe')

      // real people should not fill this in and expect good things - do not remove this or risk form bot signups
      div(style='position: absolute; left: -5000px;')
        input(type='text', name='b_51dfdc2ed16b49dcad396dd73_e8e09541e1', tabindex='-1', value='')

h2 Where
img(src="http://partnerships.typepad.com/civic/images/gre3.jpg", alt="RSA House")

br
a(href='./venue.html') The Great Hall, RSA House, London.

h2 Code of Conduct

p Enhance Conf is an inclusive event based on treating all individuals respectfully, regardless of gender, sexual orientation, age, disability, ethnicity, religion, language and/or framework preferences (or lack thereof). So please don’t be nasty or mean. Be nice. Be considerate. Be civil. It’s easy.

p
    a(href='./code-of-conduct.html') Full code of conduct.
