

p The web is evolving; it&apos;s no longer just a platform for information, but complex interactions too. As we race into the future, how can we keep hold of the things that make the web special?

p Enhance Conf aims to get past the dogma and discuss how we might build a better web.

strong Enance Conf is a non-profit event.

h2 When

.date 12th October 2015

h2 Where
img(src="http://partnerships.typepad.com/civic/images/gre3.jpg", alt="RSA House")

br
a(href='./venue.html') The Great Hall, RSA House, London

h2 Code of Conduct

p Our conference is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, age, sexual orientation, disability, physical appearance, body size, race, or religion (or lack thereof). We do not tolerate harassment of conference participants in any form. Sexual language and imagery is not appropriate for any conference venue, including talks, workshops, parties, Twitter and other online media. Conference participants violating these rules may be sanctioned or expelled from the conference without a refund at the discretion of the conference organisers.

a(href='http://confcodeofconduct.com') http://confcodeofconduct.com