
.content
    p EnhanceConf will be the first conference dedicated to progressive enhancement. It will provide a unique opportunity to discuss techniques, share research, gain feedback and build relationships.

    p EnhanceConf aims to draw together some of the top minds in the web development world. If these are the kind of people you’d like to reach, perhaps you’d be interested in one of our sponsorship opportunities below?

    hr
    
    table
        tr
            th
            th
                h3 Gold
            th 
                h3 Silver
            th 
                h3 Bronze
            
        tr
            th Stall
            td &#10004;
            td
            td
        tr
            th Logo on homepage
            td &#10004;
            td &#10004;
            td
        tr
            th Logo on website
            td &#10004;
            td &#10004;
            td &#10004;

        tr
            th Conf Passes
            td 3
            td 2
            td 1
        tr
            th
            td £5000
            td £3000
            td £1000
            
    hr.green
    p Other opportunities available, please <a href="/download.html">download the sponsor pack</a> or <a href="./contact.html">contact us</a> to learn more.   
