
.content
    p EnhanceConf will be the first conference dedicated to progressive enhancement. It will provide a unique opportunity to discuss techniques, share research, gain feedback and build relationships.

    p EnhanceConf aims to draw together some of the top minds in the web development world. If these are the kind of people you’d like to reach, perhaps you’d be interested in one of our sponsorship opportunities below?


    table
        tr
            th
            th Gold
            th Silver
            th Bronze
            th Lunch
            th Evening
            th Video
            
        tr
            th Stall
            td &#10004;
            td
            td
            td &#10004;
            td &#10004;
            td

        tr
            th Logo on homepage
            td &#10004;
            td &#10004;
            td
            td
            td
            td

        tr
            th Logo on website
            td &#10004;
            td &#10004;
            td &#10004;
            td &#10004;
            td &#10004;
            td

        tr
            th Logo on video
            td
            td
            td
            td
            td
            td &#10004;

        tr
            th 50 words on website
            td &#10004;
            td &#10004;
            td
            td &#10004;
            td
            td

            
        tr
            th Conf Passes
            td 3
            td 2
            td 1
            td 2
            td 1
            td 1

        tr
            th Cost
            td £5000
            td £2000
            td £1000
            td £5000
            td £3000
            td £2000

        tr
            th 
            td 
            td 
            td 
            td 
                a(href="/sponsorship-opportunities/lunch.html") more
            td 
                a(href="/sponsorship-opportunities/evening.html") more
            td
                a(href="/sponsorship-opportunities/video.html") more

    p To learn more please <a href="/download.html">download</a> the sponsor pack or <a href="./contact.html">contact us</a>.   


    hr


ul.small
    li
        p At the moment these prices are including VAT, that might not be normal, and cause confusion.
    li
        p All payments are due within 14 days of invoicing or prior to the conference, whichever is sooner.
    li 
        p All sponsors are entitled to 20% discount on further ticket sales.
