h2 Sponsorship Opportunities

p Whether you’re looking to hire developers, promote a product or help the community Enhance Conf will connect your brand with some of the brightest minds in the industry.

p If you would like to learn more about sponsorship opportunities please <a href="./contact.html">contact us</a>.

table
    tr
        th
        th Gold
        th Silver
        th Bronze
        th After Event
        th Video


    tr
        th Stall
        td x
        td
        td
        td
        td

    tr
        th Free Tickets
        td 3
        td 2
        td 1
        td 2
        td 2

    tr
        th 20% off tickets
        td x
        td x
        td x
        td x
        td x

    tr
        th Logo on homepage
        td x
        td x
        td
        td
        td

    tr
        th Logo on website
        td x
        td x
        td x
        td x
        td

    tr
        th Logo on video
        td
        td
        td
        td
        td x

    tr
        th 50 words on website
        td x
        td x
        td
        td
        td

    tr
        th Available
        td 1
        td 2
        td 3
        td 1
        td 1

    tr
        th Cost
        td £3000
        td £1500
        td £500
        td ~£3000
        td ~£2000


h3 Video Sponsor ~£2000

p We want Enhance Conf to reach far beyond the attendees in the Great Room. We want to record the days events and have them professionally edited and uploaded for free viewing to the rest of the world.

h3 After Event ~ £3000 - £5000

img(src="/public/vaults.jpg")

p We don’t want the conversation to end or the attendees to disperse after Enhance Conf so we want to put on an after event in the vaults under RSA house.

p The after event sponsor will have space for a stall in the vaults and we're happy to discuss other opportunities around an after event.

h3(id="lunch") Lunch Sponsor ~ £6000
p.nw Without a lunch sponsor we will not be providing food at Enhance Conf. The venue does provide catering but the Great Hall is not large enough to facilitate food and the conference so we would need to hire an additional room in RSA house. This would of course provide plenty of opportunties to put up banners and stalls.

hr

small
    ul
        li
            p At the moment these prices are including VAT, that might not be normal, and cause confusion.
        li
            p All payments are due within 14 days of invoicing or prior to the conference, whichever is sooner.

hr


h2 Community Sponsors

p.nw We welcome community sponsors.  We are willing to offer a 20% discount on tickets to community sponsorship groups. All we ask is that you mention our event.  If you would like to discuss community sponsorship please <a href="./contact.html">contact us</a>.

ul.communitySponsors
    li
        a(href="http://lnug.org", target="_new")
            img(src="./lnug_white.png", alt="London Node User Group (LNUG) logo")

