@import url("/public/fonts/calendas/stylesheet.css");


* {
    margin: 0;
    padding: 0;

    -webkit-font-smoothing: antialiased;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}





body {
    color: #fff;
    margin: 0 20%;
    background-color: #2222;
    background-color:rgb(49, 64, 87);
    font-family: ;
    background-image: url(/public/texture.png);

}

.btn {
    display: inline-block;
    padding: 20px 40px;

    background: #7230ec;
    color: #fff;

    font-weight: bold;
    text-decoration: none;
}

h1 {
    padding-bottom: 20px;
    font-family: cal;
    padding: 0;
    font-family: calendas_plusregular;
    font-size: 4em;
    margin: 2em 0 1.5em;
    line-height: 60px;
    font-weight: bold;
}

h2 {
    padding-bottom: 40px;

    font-size: 32px;
    line-height: 40px;
    font-weight: 300;
}

q {
    position: absolute;
    right: 0;
    top: 0;

    line-height: 64px;
    opacity: .4;
}

a {
  color: #fff;

}
p {
  margin: 2em 0;
  font-size: 28px;
  line-height: 40px;
  color: #F5F0EC;
}


i {
    padding-right: 4px;
    font-family: "Adobe Caslon Pro", Garamond, Baskerville, Georgia, serif;
    font-size: 110%;
}

.details {
  font-size: 38px;
}

.content {
    position: absolute;
    left: 80px;
    bottom: 80px;
    z-index: 2;

    width: 600px;
}

iframe {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    width: 100%;
    height: 100%;

    pointer-events: none;
}

form {
  font-size: 2em;
  margin: .2em;
}

form #mce-EMAIL {
  width: 250px;
  border: 1px solid #eee;
}

form input[type="submit"]#mc-embedded-subscribe {
  background: #fff;
}
form input, form input[type="submit"]#mc-embedded-subscribe {
  margin: .2em .4em;
  padding: .8em;
  font-family: cal;
  border: 1px solid #fff;
  font-size: 16px;
  border-radius: 2px;

}


html body #mc_embed_signup {
  width: 390px;
}
