



@font-face {
  font-family: 'cal';
  src: local('Calendas_Plus'), url('/public/fonts/Calendas_Plus.otf') format('opentype');
}


body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'cal';
}



h1, nav, .content, .date, .location {

    margin: 2em 20% 2em;

}

h1 {
    font-size: 5em;
    margin: 10% 20% ;

}

h1 a {
  color: #aaa;
}

a {
    text-decoration:none;
}




h2 {
    font-size: 2em;
    margin-top: 3em;
    margin-bottom: 1em;
}

nav a {
    padding-right: 1em;
    text-decoration: none;
}

.content {
    background: #fff;
}

table {
    border-spacing: 1px 0;
}

th {
    font-weight: bold;
}

td {
    width: 3010px;
    text-align: center;
    background: #eee;
    margin: 1em;
    padding: 1em;
}

ul.speakers li {
    list-style: none;
}

.speaker {
    padding: 1em;
    border-bottom: 1px solid #eee;
}

.speaker .description {
    padding: 1em;
    font-size: .8em;
}

.speaker.break {
    background: #eee;
}

.speaker img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.communitySponsors li{
    list-style: none;
}

.split {
    width: 50%;
    display:inline-block;
    height: 300px;
    vertical-align: top;
}

a.buy {
    top: 2em;
    position: relative;
    margin: 1em 2em;
    padding: 1em 2em;
    background: red;
}

.nw {
 color: #888;
}
