.content

    p

    div.split 
        p.price £150
        p.buy
            a(href="http://someticketsite.com") Buy Now

    div.split 
        p.price £120 
        p.buy
            a(href="http://someticketsite.com") Buy Now

    ul.small
        li Prices listed includes VAT.
        li Lunch will not be provided (unless we find a very generous <a href="./sponsors.html#lunch">lunch sponsor</a>)
        li Discount rate available to students and <a href="./sponsors.html">paid/community sponsors</a>. If you think your eligible please <a href="./contact.html">contact us</a>.
        li EnhanceConf has a <a href="./codeofconduct.html">code of conduct</a>, it will be enforced.
        li No refunds. If you’ve got a ticket and you can’t make it, just give your ticket to someone else.
