h2 Tickets

.content


    H3 Prices

    div.split £150 in VAT
        p
            a.buy(href="http://someticketsite.com") Buy Now

    div.split £120 inc VAT - (20% discount code required)
        p
            a.buy(href="http://someticketsite.com") Buy Now
        p

    small
        ol
            li Lunch will not be provided (unless we find a very generous <a href="./sponsors.html#lunch">lunch sponsor</a>)
            li Discount rate available to students and <a href="./sponsors.html">paid/community sponsors</a>. If you think your eligible please <a href="./contact.html">contact us</a>.
            li EnhanceConf has a <a href="./codeofconduct.html">code of conduct</a>, it will be enforced.
            li No refunds. If you’ve got a ticket and you can’t make it, just give your ticket to someone else.
