h2 Tickets

p Tickets will go on sale 11am on the 12th May 2015.

p Lunch will not be provided (unless we find a very generous <a href="./sponsors.html#lunch">lunch sponsor</a>)


H2 Prices

div.split £150 in VAT
    p
        a.buy(href="http://someticketsite.com") Buy Now

div.split £120 inc VAT - (20% discount)
    p
        a.buy(href="http://someticketsite.com") Buy Now
    p

small
    ol
        li discount rate available to students and sponsors. If you run a relevant community event, you and your community may also be eligible. Please <a href="./contact.html">contact us</a>.
        li EnhanceConf has a code of conduct, it will be enforced.
        li No refunds. If you’ve got a ticket and you can’t make it, just give your ticket to someone else.