h2 Venue
p Enhance Conf will take place in the Great Room at RSA House.

p The Great Room is dominated by the epic series of paintings "Progress of Human Knowledge and Culture" by James Barry and was the room in which RSA fellow Alexander Graham Bell gave the first practival demonstration of his new invention, the telephone.

img(src="http://partnerships.typepad.com/civic/images/gre3.jpg", alt="RSA House")
iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.2078305331684!2d-0.12264399999996381!3d51.509403000000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604c956d3a913%3A0x9dfc58443abcc46f!2sThe+RSA!5e0!3m2!1sen!2suk!4v1426927793592', width='600', height='450', frameborder='0', style='border:0')
