h2 Venue
p Enhance Conf will take place in the Great Room at RSA House.


img(src="http://partnerships.typepad.com/civic/images/gre3.jpg", alt="RSA House")

p The Great Room is dominated by the epic series of paintings "Progress of Human Knowledge and Culture" by James Barry and was the room in which RSA fellow Alexander Graham Bell gave the first practival demonstration of his new invention, the telephone.





address
    |RSA House
    br
    |8 John Adam Street
    br
    |London WC2N 6EZ
    br
    |United Kingdom



br


iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.2078305331684!2d-0.12264399999996381!3d51.509403000000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604c956d3a913%3A0x9dfc58443abcc46f!2sThe+RSA!5e0!3m2!1sen!2suk!4v1426927793592', width='600', height='450', frameborder='0', style='border:0')


h3 Nearby London Underground Station

ul
    li Charing Cross (Bakerloo, Northern, Overground) - 3 min walk.
    li Embankment (Bakerloo, Circle, District and Northern) - 6 min walk.
    li Leicester Square (Northern and Piccadily) - 10 min walk.
    li Holborn (Central) - 15 min walk.
    li Waterloo - (Overground) - 20 mins walk.



h3 Hotels

ul
    li Travelodge
