@font-face {
    font-family: 'KroppenRound-RegularOblique';
    src: url('./fonts/2E7DBB_0_0.eot');
    src: url('./fonts/2E7DBB_0_0.eot?#iefix') format('embedded-opentype'), url('./fonts/2E7DBB_0_0.woff2') format('woff2'), url('./fonts/2E7DBB_0_0.woff') format('woff'), url('./fonts/2E7DBB_0_0.ttf') format('truetype')
}
@font-face {
    font-family: 'KroppenRound-LightOblique';
    src: url('./fonts/2E7DBB_1_0.eot');
    src: url('./fonts/2E7DBB_1_0.eot?#iefix') format('embedded-opentype'), url('./fonts/2E7DBB_1_0.woff2') format('woff2'), url('/fonts/2E7DBB_1_0.woff') format('woff'), url('/fonts/2E7DBB_1_0.ttf') format('truetype')
}
@font-face {
    font-family: 'Kroppen Round';
    src: url('./fonts/2E7DBB_2_0.eot');
    src: url('./fonts/2E7DBB_2_0.eot?#iefix') format('embedded-opentype'), url('./fonts/2E7DBB_2_0.woff2') format('woff2'), url('./fonts/2E7DBB_2_0.woff') format('woff'), url('./fonts/2E7DBB_2_0.ttf') format('truetype')
}
@font-face {
    font-family: 'Kroppen Round Light';
    src: url('./fonts/2E7DBB_3_0.eot');
    src: url('./fonts/2E7DBB_3_0.eot?#iefix') format('embedded-opentype'), url('./fonts/2E7DBB_3_0.woff2') format('woff2'), url('./fonts/2E7DBB_3_0.woff') format('woff'), url('./fonts/2E7DBB_3_0.ttf') format('truetype')
}
.sponsors.gold img {
    width: 80%;
    max-width: 300px
}
.sponsors.silver img,
.sponsors.video img {
    width: 200px
}
.sponsors.bronze img {
    width: 100px
}
.sponsors.community img {
    width: 200px
}
ul.sponsors {
    width: 100%;
    max-width: 200px;
    background: #fff;
    vertical-align: center;
    margin: 0;
    padding: 0;
    display: inline
}
ul.sponsors li {
    list-style: none;
    display: inline-block;
    width: 200px;
    margin: .5em
}
ul.sponsors li a {
    display: block
}
body {
    background-color: #fff;
    color: #6F6B6B;
    line-height: 2em;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    font-family: 'Lato', sans-serif
}
body .wrapper {
    margin: 0;
    padding: 2em 20% 2em
}
body .footer {
    background-color: #fff;
    bottom: 0;
    position: relative;
    padding: 0 20%;
    margin-top: 10em;
    margin: 0;
    background-position-Y: top
}
.faces {
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}
.faces li {
    padding: 2%
}
.faces li .detail {
    display: none
}
.faces li img {
    width: 100px;
    height: 100px
}
.home .speakers .break,
.home .speakers .qa,
.home .speakers .detail,
.home .speakers .time {
    display: none
}
div.awd {
    min-height: 6em
}
img.awd {
    margin: 1em;
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg);
    float: right
}
html body span.tito-badge-link {
    display: none
}
@media (max-width: 900px) {
    body {
        margin: 0
    }
    body .wrapper {
        padding: 2em
    }
    body .dotjs {
        padding: 2em
    }
    body .footer {
        padding: 2em
    }
}
ul.workshop li {
    margin: 2em 0
}
h1,
h2,
h3,
h4 tr.top th {
    color: #f2195c;
    font-family: 'Kroppen Round'
}
h4 {
    color: #8EB236;
    font-family: 'Kroppen Round'
}
h1 {
    margin: 1.4em 0
}
nav {
    margin: 3em 0;
    font-family: 'Kroppen Round'
}
nav a {
    width: 100%;
    display: block;
    padding: 0 1em 0 0;
    margin: 0 1em 0 0;
    text-decoration: none;
    border-radius: 3px
}
nav a:hover {
    color: #BA3755
}
@media (min-width: 700px) {
    nav a {
        display: inline
    }
}
hr {
    border: 1px solid #DDA625;
    border-radius: 1px;
    margin: 4em
}
hr.green {
    border-color: #8BB22B
}
a {
    color: #2582c4
}
.middle {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.container {
    padding: 1em;
    margin: 1em;
    border-radius: 5px
}
.container p {
    padding: 0;
    margin: 0 0 1em 0
}
iframe.container {
    min-width: 400px;
    padding: 0;
    -webkit-box-flex: 2;
    -webkit-flex: 2 0 0;
    -ms-flex: 2 0 0;
    flex: 2 0 0
}
container.trains {
    -webkit-box-flex: 2;
    -webkit-flex: 2 0 0;
    -ms-flex: 2 0 0;
    flex: 2 0 0
}
.container h3 {
    margin: 0;
    padding: 0
}
.speakers nav .speakers,
.schedule nav .schedule,
.sponsors nav .sponsor,
.cfp nav .cfp,
.about nav .about,
.venue nav .venue,
.workshop nav .workshop,
.contact nav .contact,
.tickets nav .tickets {
    color: #DDA625;
    font-weight: bold;
    cursor: default
}
html body .tito-wrapper {
    background-color: #FDFDFD;
    color: #6F6B6B;
    border: 0
}
form {
    margin: 3em 0
}
form #mce-EMAIL {
    width: 250px;
    border: 2px solid #5879B6
}
form #mce-EMAIL {
    background: #fff
}
form input {
    margin: 0 .2em .4em 0;
    padding: .8em;
    font-size: 1em;
    font-family: 'Kroppen Round';
    border: 2px solid #5879B6;
    border-radius: 2px;
    background: #fff
}
form input[type="submit"]#mc-embedded-subscribe {
    background: #5879B6;
    color: #fff!important
}
form input[type="submit"]#mc-embedded-subscribe {
    color: #222
}
div.detail p {
    font-size: 20px
}
.content iframe {
    width: 100%;
    height: 12em
}
.content img,
.content iframe {
    border-radius: 4px;
    border: 0 solid #333!important;
    overflow: hidden
}
img.workshop {
    float: left;
    margin: 0 1em 0 0
}
.clearleft {
    clear: left
}
ul.speakers {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 5em
}
@media (min-width: 900px) {
    ul.speakers {
        left: -70px;
        position: relative
    }
}
ul.speakers li {
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}
ul.speakers li.speaker.top .detail,
ul.speakers li.speaker.top img,
ul.speakers li.speaker.top .time {
    margin-top: 10px
}
ul.speakers li.break,
ul.speakers li.qa {
    background: #fff;
    padding-left: -1px
}

ul.speakers li.break a {
    color: white;
}
ul.speakers li.break .time {
    margin: 1em 0
}
@media (min-width: 400px) {
    ul.speakers li {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row
    }
}
ul.speakers li .time {
    font-family: 'Kroppen Round';
    background: #fff;
    color: #6F6B6B;
    display: block;
    width: 100%;
    border-bottom: 1px solid #8EB236;
    padding: 1em 0
}
@media (min-width: 400px) {
    ul.speakers li .time {
        width: 62px;
        min-width: 62px;
        border-bottom: 0;
        border-bottom: 0;
        margin: 0;
        border-bottom: 0;
        padding: 0
    }
}
ul.speakers li .position {
    font-size: 0.8em
}
ul.speakers li .detail {
    display: block;
    margin: 5px 0;
    padding: 0 10px;
    top: -10px;
    position: relative
}
@media (min-width: 600px) {
    ul.speakers li .detail {
        margin: 0 0 0 10px;
        display: inline-block
    }
}
ul.speakers li .detail h3 {
    display: inline-block;
    margin: 0em;
    margin-top: 5px
}
ul.speakers li .detail img {
    display: inline-block
}
ul.speakers li .detail p {
    margin: 0;
    font-size: .8em
}
ul.speakers li.last {
    border-bottom: 1px solid #efefef;
    margin-bottom: 1em;
    padding-bottom: 1em
}
li.break p,
li.qa p {
    background: #BA3755;
    border-radius: 5px;
    color: #fff;
    margin: 0;
    padding: 0 .5em;
    width: 100%;
    margin: 1em 0
}
li.break p img,
li.qa p img {
    float: right;
    position: relative;
    width: 45px;
    height: 45px;
    top: 0;
    left: 5px;
    MARGIN: 3px 0
}
li.qa p {
    margin: 0;
    background: #5B7CBC
}
img.speaker {
    width: 55px;
    height: 55px
}
table.block {
    width: 100%;
    position: relative;
    top: -2px;
    padding-bottom: 35px
}
table.block th {
    text-align: left;
    padding-left: 1em;
    line-height: 1.5em;
    border-bottom: 1px solid #FBF8F8
}
table.block td {
    text-align: center;
    font-size: 1.7em;
    line-height: 2em
}
table.block td.disabled,
table.block th.disabled {
    opacity: 0.2
}
table.block tr:first-child th {
    font-size: 1.1em;
    margin-bottom: 40px;
    text-align: center
}
table.block tr td:nth-child(1),
table.block tr td:nth-child(2),
table.block tr td:nth-child(3) {
    height: 76px;
    width: 156px
}
@media (max-width: 1000px) {
    table.block tr td:nth-child(1),
    table.block tr td:nth-child(2),
    table.block tr td:nth-child(3) {
        width: 76px;
        font-size: 1em;
        height: 76px
    }
}
table.block tr:last-child {
    margin-bottom: 10px
}
table.block tr.top th {
    border-bottom: 0
}
table.block tr.cost td {
    border-bottom: 1px solid #FBF8F8
}
table.block tr td.tick {
    font-size: 0.4em;
    background: #FDFDFD;
    border-bottom: 1px solid #FBF8F8;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff
}
@media (min-width: 900px) {
    table.block tr td.tick {
        font-size: .7em
    }
}
hr.page-break {
    margin-bottom: 20em;
    margin-top: 20em
}
.split {
    display: inline;
    margin: 3em 20% 3em 10%
}
.logo {
    margin: 1em 0;
    width: 100%;
    max-width: 650px
}
.wrapper .date,
.wrapper .london {
    margin: .3em 0;
    font-size: 1em;
    font-family: 'Kroppen Round';
    color: #6F6B6B
}
img.middle {
    width: 300px;
    margin-top: 3em;
    margin-bottom: 3em
}
img.split {
    width: 200px
}
@media print {
    ul.speakers li {
        margin: 2em
    }
    ul.speakers li .detail {
        display: inline-block;
        margin: 0 2em
    }
    img.logo {
        width: 400px
    }
    img.split {
        width: 100px;
        height: 100px
    }
    ul.speakers img.speaker {
        width: 70px;
        position: relative;
        top: -10px;
        height: 70px
    }
    hr {
        display: none
    }
    body {
        font-size: 0.95em
    }
    p {
        margin: 1em 0
    }
    h1 {
        margin: 2em 0
    }
    .footer {
        display: none
    }
    nav {
        display: none
    }
    .page-break {
        page-break-after: always!important
    }
    .wrapper {
        margin: 1em 15%
    }
}
@media (min-width: 500px) {
    div.right {
        text-align: justify
    }
    div.right p {
        margin: 1em
    }
}
.smm-pic {
    float: left;
    margin: 0 20px 20px 0;
    width: 110px;
    height: 110px;
    position: relative;
    top: 10px
}
@media (max-width: 500px) {
    .smm-pic {
        float: left;
        margin: 0 20px 20px 0
    }
}
.block {
    padding: 0 0 2em 0;
    margin: 0 0
}
.block p {
    margin: 0;
    position: relative;
    top: 12px;
    padding: 0
}
.block-nm {
    margin: 0
}
.block:first-child {
    margin-top: 0
}
.block:last-child {
    margin-bottom: 0
}
ul.topics {
    margin: 3em 10px 15px 52px
}
ul.topics li {
    height: 24px;
    padding: 10px 10px
}
@media (min-width: 900px) {
    .content {
        max-width: 42em
    }
}
@media (min-width: 1000px) {
    .content {
        max-width: 50em
    }
}
@media (min-width: 1500px) {
    .content {
        max-width: 70em
    }
}
div.flex2 {
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: left;
    -webkit-align-items: left;
    -ms-flex-align: left;
    align-items: left;
    -webkit-box-pack: left;
    -webkit-justify-content: left;
    -ms-flex-pack: left;
    justify-content: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row
}
div.flex2 img {
    min-width: 200px;
    height: 200px
}
div.flex {
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: top center;
    -webkit-align-items: top center;
    -ms-flex-align: top center;
    align-items: top center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row
}
div.flex .container.address {
    font-size: .8em
}
div.flex .container {
    min-width: 200px;
    -webkit-box-flex: 1;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto
}
div.flex .container.trains {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    font-size: .8em;
    min-width: 400px
}
div.quote {
    margin: 3em 0em;
    padding: 1em;
    border: 1px solid #eee;
    background-color: #fdfdfd
}
.dotjs {
    margin: 0;
    padding: 2em 20% 2em;
    background-color: #F5F1F1;
    border-top: 1px solid #ddd;
    color: #362718;
    width: 100%;
    font-family: 'Kroppen Round'
}
.dotjs img {
    padding: 2em;
    width: 80%;
    max-width: 400px
}
.dotjs,
.email {
    background-color: #F5F1F1;
    border-top: 1px solid #ddd
}
#mc_embed_signup {
    width: 100%;
    padding: 1em 20%;
    background-color: #F5F1F1;
    border: 1px solid #ddd;
}
nav .active {
    color: #DDA625;
    font-weight: bold;
    cursor: default;
}