h3 Video Sponsor ~£2000

p We want EnhanceConf to reach far beyond the attendees in the Great Room. We want to record the days events so they can be uploaded for free viewing.

h3 After Event ~ £3000 - £5000
