h2 Evening 

img(src="/public/vaults.jpg")
div.detail
    p We don’t want attendees to disperse after EnhanceConf so would like to host an after event in the vaults under RSA house. There are a number of options avialable, including a sit down evening meal. The after event sponsor will have space for a stall in the vaults.
    
