

div.awd


    a(href="http://adaptivewebdesign.info", target="_new") 
        img(src="./images/deals/awd.jpg" ).awd
    h4 Adaptive Web Design


    p 
        a(href="http://aaron-gustafson.com", target="_new") Aaron Gustafson's
        |  book 
        a(href="http://adaptivewebdesign.info", target="_new") Adaptive Web Design 
        | will provide the perfect accompaniment to the EnhanceConf workshop and conference.  Get your combined ticket today and you will receive a free e-book.
