
h4 Adaptive Web Design


img(src="./images/deals/awd.jpg" ).awd
p Adaptive Web Design will provide the perfect accompaniment to the EnhanceConf workshop and conference.  Get your combined ticket before Thursday and you will receive a free copy of Aaron Gustafson's e-book Adaptive Web Design.

p If you just want the conference pass, get an early bird ticket and you will be entered into a raffle to win a copy of Adaptive Web Design.
