nav
  a(href='https://ti.to/enhanceconf/london-2016', target="new_window").tickets Tickets
  &nbsp;
  a(href='./workshop.html' ).workshop Workshop
  &nbsp;
  a(href='./about.html' ).about About
  &nbsp;

  //- a(href='/venue.html').venue Venue
  //- &nbsp;
  //- //- a(href='/contact.html').contact Contact
  //- &nbsp;
  //- a(href='/codeofconduct.html') Code of Conduct
  //- &nbsp;
