nav
  // a(href='https://ti.to/enhanceconf/london-2016').tickets Tickets
  // &nbsp;
  a(href='./speakers.html').speakers Speakers
  &nbsp;
  a(href='./cfp.html').cfp CFP
  &nbsp;
  a(href='./sponsors.html' ).sponsor Sponsor
  &nbsp;
  a(href='./about.html' ).about About
  &nbsp;

  //- a(href='/venue.html').venue Venue
  //- &nbsp;
  //- //- a(href='/contact.html').contact Contact
  //- &nbsp;
  //- a(href='/codeofconduct.html') Code of Conduct
  //- &nbsp;
