nav
  a(href='./tickets.html' ).tickets Tickets
  &nbsp;
  a(href='./workshop.html' ).workshop Workshop
  &nbsp;
  a(href='/venue.html').venue Venues
  &nbsp;
  a(href='./about.html' ).about About
  &nbsp;

  //- //- a(href='/contact.html').contact Contact
  //- &nbsp;
  //- a(href='/codeofconduct.html') Code of Conduct
  //- &nbsp;
