nav
  a(href='./tickets.html' ).tickets Tickets
  &nbsp;
  a(href='./schedule.html').schedule Schedule
  &nbsp;
  a(href='./workshop.html' ).workshop Workshop
  &nbsp;
  a(href='/venue.html').contact Venues
  &nbsp;
  a(href='/contact.html').contact Contact
  &nbsp;
  //- a(href='/codeofconduct.html') Code of Conduct
  //- &nbsp;
