
table
    tr.top
        th
        th Gold
        th Silver
        th Bronze
    tr
        th Stall
        td &#10004;
        td
        td
    tr
        th Logo on homepage
        td &#10004;
        td &#10004;
        td
    tr
        th Logo on website
        td &#10004;
        td &#10004;
        td &#10004;

    tr
        th Conf Passes
        td 5
        td 3
        td 1
    tr
        th
        td £5000
        td £3000
        td £1000
