
table.block
    tr.top
        th Gold
        th Silver
        th Bronze
        th
    tr
        td.tick &#10004;
        td.tick
        td.tick
        th Stall
    tr
        td.tick &#10004;
        td.tick &#10004;
        td.tick
        th Logo on homepage/screens
    tr
        td.tick &#10004;
        td.tick &#10004;
        td.tick &#10004;
        th Logo on website

    tr
        td.tick 4
        td.tick 2
        td.tick 1
        th Conf passes
    tr.cost
        td £4000
        td £2000
        td £1000
        th Cost
        
