
table.block
    tr.top
        th Gold
        th Silver
        th Bronze
        th
    tr
        td &#10004;
        td
        td
        th Stall
    tr
        td &#10004;
        td &#10004;
        td
        th Logo on homepage/screens
    tr
        td &#10004;
        td &#10004;
        td &#10004;
        th Logo on website

    tr
        td 4
        td 2
        td 1
        th Conf passes
    tr.cost
        td £4000
        td £2000
        td £1000
        th Cost
        
