li Application architectures
li Isomorphic apps
li Offline apps
li Device/network-agnostic design
li 
    a(href="http://roca-style.org/") ROCA
li 
    a(href="https://infrequently.org/2015/06/progressive-apps-escaping-tabs-without-losing-our-soul/") Progressive Apps
