.content


    p whats the format
    p why is it happening
    p 
    
    p.block EnhanceConf will cover the state of the art in <a href="http://en.wikipedia.org/wiki/Progressive_enhancement" target="_blank">progressive enhancement</a>; 
    
    
h1    

    p.block EnhanceConf has a <a href="/code-of-conduct.html">Code of Conduct</a>. It will be enforced. 
