.content

    p.block We&apos;re convinced <a href="http://en.wikipedia.org/wiki/Progressive_enhancement" target="_blank">progressive enhancement</a> remains an important aspect in pushing the boundaries of the web while still providing a robust experience for every user.


    p.block EnhanceConf will cover the state of the art in <a href="http://en.wikipedia.org/wiki/Progressive_enhancement" target="_blank">progressive enhancement</a>; focussing on providing the best experience to the widest possible audience.


    div.block
        p Topics we want to cover include:
        ul.topics
            include _topics.jade

    p.block A call for proposals will open in the next few months. EnhanceConf may dive into a particular language, library or framework but the focus will be on techniques rather than specific implementations. Any extra money from ticket sales will be put back into the event.

    p.block EnhanceConf has a <a href="/code-of-conduct.html">Code of Conduct</a>. It will be enforced.
