.content

    p.block EnhanceConf is a community focussed event dedicated to improving the web through <a href="http://en.wikipedia.org/wiki/Progressive_enhancement" target="_blank">progressive enhancement</a>. 

    p.block EnhanceConf will cover the state of the art in <a href="http://en.wikipedia.org/wiki/Progressive_enhancement" target="_blank">progressive enhancement</a>; focussing on providing the best experience to the widest possible audience.

    div.block
        p Topics we want to cover include:
        ul.topics
            include _topics.jade
    
    p.block EnhanceConf has a <a href="/code-of-conduct.html">Code of Conduct</a>. It will be enforced. Any extra money from ticket sales will be put back into the event.
