h2 Convinence your boss

ul
    li Learn techniques
    li Build more robust products that will serve a wider audience.
    li Be able to reason about when to apply progressive enhancement. 
    li Understand what will give an application logevity.
    li Legal requirements to build accessible software.
    

ul
    li Understanding of when PE can help?
    li How PE can help?
    li How PE can work with Agile, MVP and runways.
    li Learn new tools and techniques they can use at work the very next day.
    
    li learn techniques to reduce the cost of progressive enhancement.
    li Learn what we are doing well, what is working. 
