h1 Call for Proposals

p EnhanceConf is a one-day, single-track conference.  

p We would really like to hear stories about how progressive enhancement effects end users.  If you think you might have something worth sharing please get in touch!

p Some of the topics we would particularly like to hear about include:

ul
    li Application architectures
    li Offline apps
    li Device/network-agnostic design
    li Progressive apps
    li Baselines
    li Mustard tests
    li Tooling
    li Relevance in the modern web
    li UX implications
    li Accessibility
    li ROCA
    li Web Components
    li Service Workers
    li Isomorphic JavaScript
    li Sharing templates between server and client

p Did we miss something off the list? Please let us know.

h2 Guidelines:

ul
    li Talks will be 20 minutes long with time for questions.
    li Speakers are asked to read and comply with our <a href="/code-of-conduct.html">code of conduct</a>.

p Please email your submissions to <a href="mailto:info@enhanceconf.com">info@enhanceconf.com</a> with 'EnhanceConf Talk Proposal' as the subject. 

p If you have any questions feel free to email us or reach out on twitter <a href="http://twitter.com/enhanceconf">@enhanceconf</a>.

h2 The Process:

p There are 9 speaking slots available.

p All proposal must be received by 20 December 2015. We will notify all submissions by January 20th 2016 if their talks have been selected on not.

p We are happy to help develop your ideas into a proposal. Even if its your first proposal please send it our way.

p We are aware that our current list of speakers is dominated by white males.  We want EnhanceConf to have the greatest reach and believe that improving the diversity of attendees and speakers is the best way to do this.

h2 Speaker Reimbursement

p We will pay each speaker a fee of £500.
p To ensure a low ticket price the majority of speaker will be from London but we do have some budget to pay for travel and accomodation where necessary.
p If your company is able  assist by covering your expenses, we'd be happy to list them as a sponsors.
