
p The web continues to evolve, it&apos;s no longer just a platform for information, but complex interactions too.  As we race into the future, how can we keep hold of the things that make the web special?

p EnhanceConf will be a community focussed, non-profit event dedicated to improving the web through <a href="http://en.wikipedia.org/wiki/Progressive_enhancement" target="_blank">progressive enhancement</a>.


p
    a(href="/about.html") More info
    
