p.block We&apos;re convinced <a href="http://en.wikipedia.org/wiki/Progressive_enhancement" target="_blank">progressive enhancement</a> remains an important aspect in pushing the boundaries of the web while still providing a robust experience for every user.

p.block EnhanceConf will cover the state of the art in <a href="http://en.wikipedia.org/wiki/Progressive_enhancement" target="_blank">progressive enhancement</a>; Looking at the tools and techniques that allow you to extend the reach of your website/application without incurring additional costs.

h1 Speakers
include ./speakers.jade

h1 Tickets   
div#getTicket
    a#ticket(href="https://ti.to/enhanceconf/london-2016") Get your ticket now!

script.
    var ticketsWidget = document.createElement('tito-widget');
    ticketsWidget.setAttribute('event', 'enhanceconf/london-2016');
    var holder = document.getElementById('getTicket');
    var heading = document.createElement('h1');
    var ticket = document.getElementById('ticket');
    holder.replaceChild(ticketsWidget, ticket);
