

p.block We&apos;re convinced <a href="http://en.wikipedia.org/wiki/Progressive_enhancement" target="_blank">progressive enhancement</a> remains an important aspect in pushing the boundaries of the web while still providing a robust experience for every user.

p.block EnhanceConf is a one day conference covering the state of the art in <a href="http://en.wikipedia.org/wiki/Progressive_enhancement" target="_blank">progressive enhancement</a>. It will look at the tools and techniques that allow you to extend the reach of your website/application without incurring additional costs.

h1 Speakers
include ./speakers.jade

hr

include _awd.jade
