
p.block EnhanceConf is a community focussed event dedicated to improving the web through <a href="http://en.wikipedia.org/wiki/Progressive_enhancement" target="_blank">progressive enhancement</a>. It will provide a unique opportunity to discuss techniques, share research, gain feedback and build relationships. 
    a(href="./about.html") More info.
    
   