
p EnhanceConf will be a community focussed  event dedicated to improving the web through <a href="http://en.wikipedia.org/wiki/Progressive_enhancement" target="_blank">progressive enhancement</a>.


p
    a(href="./about.html") More info
    
