
p EnhanceConf will be a community focussed  event dedicated to improving the web through <a href="http://en.wikipedia.org/wiki/Progressive_enhancement" target="_blank">progressive enhancement</a>.

p We aim to bring together some of the top minds in web development, providing a unique opportunity to discuss techniques, share research, gain feedback and build relationships.

p
    a(href="./about.html") More info
    
