.content.schedule
    h1 Schedule
    

    .content
        ul.speakers
            li.break
                div.time 9:05
                p Intro 
                
        
            li.speaker.top
                div.time 09:15
                a(href="http://natbuckley.co.uk/", target="_new")
                    img(src='./images/speakers/nat-buckley.jpg', alt="Nat Buckley").speaker
                div.detail
                    a(href="http://natbuckley.co.uk/", target="_new")
                        h3 Nat Buckley 
                    div.position Director @ 
                        a(href="http://buckleywilliams.com/", target="_new") Buckley Williams 
            li.speaker
                div.time 09:40
                a(href="http://maban.co.uk/", target="_new")
                    img(src='./images/speakers/anna-debenham.jpg', alt="Forbes Lindesay").speaker
                div.detail
                    a(href="http://maban.co.uk/", target="_new")
                        h3 Anna Debenham 
                    div.position Freelance Front-end Developer 

            li.speaker
                div.time 10:05
                a(href="https://twitter.com/stilkov", target="_new")
                    img(src='./images/speakers/stilkov.png', alt="Stefan Tilkov").speaker
                div.detail
                    a(href="https://twitter.com/stilkov", target="_new")
                        h3 Stefan Tilkov
                    div.position Co-founder and Principal Consultant @ 
                        a(href="https://www.innoq.com", target="_new") innoQ     

            li.qa
                div.time 10:25
                p Q&A 
                    a(href="https://twitter.com/adactio", target="_new")
                        img(src='./images/speakers/adactio.png', alt="Jeremy Keith").speaker


            li.break
                div.time 10:45
                p Break 
                
            li.speaker.top
                div.time 11:00
                a(href="https://twitter.com/ForbesLindesay", target="_new")
                    img(src='./images/speakers/forbeslindesay.jpg', alt="Forbes Lindesay").speaker
                div.detail
                    a(href="https://twitter.com/ForbesLindesay", target="_new")
                        h3 Forbes Lindesay
                    div.position Jade maintainer and Software Engineer @ 
                            a(href="http://www.facebook.com/", target="_new") Facebook 
                                
            li.speaker
                div.time 11.25
                a(href="http://www.theguardian.com/profile/oliver-joseph-ash", target="_new")
                    img(src='./images/speakers/oliver-j-ash.jpg', alt="Oliver Joseph Ash").speaker
                div.detail
                    a(href="http://www.theguardian.com/profile/oliver-joseph-ash", target="_new")
                        h3 Oliver Joseph Ash
                    div.position Software Engineer @ 
                        a(href="http://www.theguardian.com", target="_new") The Guardian

            li.speaker
                div.time 11.50
                a(href="https://twitter.com/misprintedtype", target="_new")
                    img(src='./images/speakers/ola-gasidlo.jpg', alt="Ola Gasidlo").speaker
                div.detail
                    a(href="https://twitter.com/misprintedtype", target="_new")
                        h3 Ola Gasidlo
                    div.position Senior Full-Stack Developer @ 
                            a(href="http://www.styla.com", target="_new") Styla 

            li.qa
                div.time 12:10
                p Q&A 
                    a(href="https://twitter.com/adactio", target="_new")
                        img(src='./images/speakers/adactio.png', alt="Jeremy Keith").speaker

            li.break.lunch
                div.time 12:30
                p Lunch

            li.speaker.top
                div.time 13:45
                a(href="https://twitter.com/philhawksworth", target="_new")
                    img(src='./images/speakers/philhawksworth.jpg', alt="Phil Hawksworth").speaker            
                div.detail
                    a(href="https://twitter.com/philhawksworth", target="_new")
                        h3 Phil Hawksworth
                    div.position Technology Director @ 
                            a(href="http://www.rga.com/", target="_new") R/GA        
                a(href="http://stephen-waller.com", target="_new")
                    img(src='./images/speakers/stephen-waller.jpg', alt="Stephen Waller").speaker
                div.detail
                    a(href="http://stephen-waller.com", target="_new")
                        h3 Stephen Waller
                    div.position Designer, Illustrator and Animator @ 
                        a(href="http://p.ota.to", target="_new") Potato London                          

            li.speaker
                div.time 14:10
                a(href="http://adamsilver.io/", target="_new")
                    img(src='./images/speakers/adam-silver.jpg', alt="Adam Silver").speaker
                div.detail
                    a(href="http://adamsilver.io/", target="_new")
                        h3 Adam Silver
                    div.position UX Engineer
        


            li.speaker
                div.time 14:35
                a(href="http://jensimmons.com/", target="_new")
                    img(src='./images/speakers/jensimmons.jpg', alt="Jen Simmons").speaker            
                div.detail
                    a(href="http://jensimmons.com/", target="_new")
                        h3 Jen Simmons
                    div.position Designer advocate @ 
                        a(href="https://www.mozilla.org", target="_new") Mozilla              
            

            li.qa
                div.time 14:55
                p Q&A 
                    a(href="https://twitter.com/adactio", target="_new")
                        img(src='./images/speakers/adactio.png', alt="Jeremy Keith").speaker

                
            li.break
                div.time 15:15
                p Break 
                

            li.speaker.top
                div.time 15:30
                a(href="https://www.abilitynet.org.uk/robinchristopherson", target="_new")
                    img(src='./images/speakers/robin.jpeg', alt="Robin Christopherson").speaker            
                div.detail
                    a(href="https://www.abilitynet.org.uk/robinchristopherson", target="_new")
                        h3 Robin Christopherson
                    div.position Head of Digital Inclusion @ 
                        a(href="https://www.abilitynet.org.uk/", target="_new") AbilityNet                        

            li.speaker
                div.time 15:55
                a(href="https://twitter.com/radiomorillo", target="_new")
                    img(src='./images/speakers/stephanie-morillo.jpg', alt="Stephanie Morillo").speaker
                div.detail
                    a(href="https://twitter.com/radiomorillo", target="_new")
                        h3 Stephanie Morillo
                    div.position Copywriter @ 
                        a(href="https://www.digitalocean.com/") DigitalOcean 
        
            li.speaker
                div.time 16:20
                a(href="https://twitter.com/AaronGustafson", target="_new")
                    img(src='./images/speakers/aaron-gustafson.jpg', alt="Aaron Gustafson").speaker
                div.detail
                    a(href="https://twitter.com/AaronGustafson", target="_new")
                        h3 Aaron Gustafson
                    div.position Web standards advocate @ 
                        a(href="http://www.microsoft.com/") Microsoft 

            li.qa
                div.time 16:40 
                p Q&A
                    a(href="https://twitter.com/adactio", target="_new")
                        img(src='./images/speakers/adactio.png', alt="Jeremy Keith").speaker
            li.break
                div.time 17:00
                p Finish

            
                            
            //- for item in schedule
            //-     li.speaker(class=item.type)
            //-             //div.time=item.time
            //-             img(src='').speaker
            //-             .detail
            //-                 h4.title=item.title
            //-                 p=item.desc
            //-                 if item.speakers
            //-                     each speak in item.speakers
            //-                         - console.log(speak);
            //-                         - speaker = allSpeakers[speak]
            //-                     //- if(speaker)
            //-                     //-     console.log(speak, allSpeakers) ;
            //-                     //-     != partial("_speaker", speaker)
