

.content
    ul.faces
        li
            a(href="http://natbuckley.co.uk/", target="_new")
                img(src='./images/speakers/nat-buckley.jpg', alt="Nat Buckley").speaker
            p.detail Nat Buckley
        li
            a(href="http://maban.co.uk/", target="_new")
                img(src='./images/speakers/anna-debenham.jpg', alt="Forbes Lindesay").speaker
        li
            a(href="https://twitter.com/stilkov", target="_new")
                img(src='./images/speakers/stilkov.png', alt="Stefan Tilkov").speaker    
        li
            a(href="https://twitter.com/ForbesLindesay", target="_new")
                img(src='./images/speakers/forbeslindesay.jpg', alt="Forbes Lindesay").speaker
        li
            a(href="http://www.theguardian.com/profile/oliver-joseph-ash", target="_new")
                img(src='./images/speakers/oliver-j-ash.jpg', alt="Oliver Joseph Ash").speaker
        li
            a(href="https://twitter.com/misprintedtype", target="_new")
                img(src='./images/speakers/ola-gasidlo.jpg', alt="Ola Gasidlo").speaker
        li
            a(href="https://twitter.com/philhawksworth", target="_new")
                img(src='./images/speakers/philhawksworth.jpg', alt="Phil Hawksworth").speaker            
        li
            a(href="http://stephen-waller.com", target="_new")
                img(src='./images/speakers/stephen-waller.jpg', alt="Stephen Waller").speaker
        
        li
            a(href="http://adamsilver.io/", target="_new")
                img(src='./images/speakers/adam-silver.jpg', alt="Adam Silver").speaker
        li
            a(href="http://jensimmons.com/", target="_new")
                img(src='./images/speakers/jensimmons.jpg', alt="Jen Simmons").speaker            
        li
            a(href="https://www.abilitynet.org.uk/robinchristopherson", target="_new")
                img(src='./images/speakers/robin.jpeg', alt="Robin Christopherson").speaker            
        li
            a(href="https://twitter.com/radiomorillo", target="_new")
                img(src='./images/speakers/stephanie-morillo.jpg', alt="Stephanie Morillo").speaker
        
        li
            a(href="https://twitter.com/AaronGustafson", target="_new")
                img(src='./images/speakers/aaron-gustafson.jpg', alt="Aaron Gustafson").speaker
            p.detail Aaron Gustafson

        li
            a(href="https://twitter.com/adactio", target="_new")
                img(src='./images/speakers/adactio.png', alt="Jeremy Keith").speaker
