
.content
    //p EnhanceConf will be the first conference dedicated to progressive enhancement. It will provide a unique opportunity to discuss techniques, share research, gain feedback and build relationships.

    p.block EnhanceConf aims to draw together some of the top minds in web development. If these are the kind of people you’d like to reach, perhaps you’d be interested in one of our sponsorship opportunities?

    hr
    
    include _sponsor_table.jade
            
    hr.green
    p.block Other opportunities available, please <a href="./EnhanceConf-Sponsors-Pack.pdf">download the sponsor pack</a> or <a href="./contact.html">contact us</a> to learn more.   
