h1 Terms of Service

h2 Refunds

p You registration is non-refundable once purchased. Cancellations of your travel and/or hotel reservations are your own responsibility. If you have purchased a ticket and cannot attend we are happy to assist with transferring your ticket to someone else.

h2  Cancellation 

p If an event is cancelled, DotJS Ltd will fully refund your registration fee with no penalties or other reductions — no questions asked! However, we can't cover travel or hotel reservation costs. Sorry!

h2 Photography and quotes

p You grant us the right to use any photography taken on the day or any quotes given online for the marketing of future events.

h2 Lunch

p Lunch will not be provided for the conference or workshop but there are some lovely places to eat nearby.
