.content

    p

    div.item
        p.price £100
        p.buy
            a(href="http://someticketsite.com") Buy Now

    ul.small
        li Prices listed do not include VAT.
        li Lunch will not be provided (unless we find a very generous <a href="./sponsors.html#lunch">lunch sponsor</a>)
        li EnhanceConf has a <a href="./code-of-conduct.html">code of conduct</a>, it will be enforced.
        li No refunds. If you’ve got a ticket and you can’t make it, just give your ticket to someone else.
