p EnhanceConf will take place on Friday 4th March and the workshop on Thursday 3rd March 2016.

strong Early bird tickets end 14th January. 

div#getTicket
    a#ticket(href="https://ti.to/enhanceconf/london-2016") Get your ticket now!


h2 Additional Info

ul 
    li 
        a(href='/code-of-conduct.html') Code of Conduct
    li
        a(href='/terms.html') Terms of Service
    li
        a(href='http://ti.to') Powered by Tito

h2
script.
    var ticketsWidget = document.createElement('tito-widget');
    ticketsWidget.setAttribute('event', 'enhanceconf/london-2016');
    var holder = document.getElementById('getTicket');
    var heading = document.createElement('h1');
    var ticket = document.getElementById('ticket');
    holder.replaceChild(ticketsWidget, ticket);
