


div#getTicket
    a#ticket(href="https://ti.to/enhanceconf/london-2016") Get your ticket now!

    
hr

    

include _awd.jade

hr


h2 Additional Info

ul 
    li 
        a(href='/code-of-conduct.html') Code of Conduct
    li
        a(href='/terms.html') Terms of Service
    li
        a(href='http://ti.to') Powered by Tito
        

script.
    var ticketsWidget = document.createElement('tito-widget');
    ticketsWidget.setAttribute('event', 'enhanceconf/london-2016');
    var holder = document.getElementById('getTicket');
    var heading = document.createElement('h1');
    var ticket = document.getElementById('ticket');
    holder.replaceChild(ticketsWidget, ticket);
