.content


    div
        h1 Conference Venue
        p.date Friday 4th March 2016
        p EnhanceConf will take place in the Great Room at RSA House.
        div#conf
            div#confAddress
                h3 Address
                p
                    address
                        |RSA House
                        br
                        |8 John Adam Street
                        br
                        |London
                        br
                        |WC2N 6EZ
                        br
                        |United Kingdom



        div.container.trains
               h3 Nearby London Stations
               ul
                   li
                       a(href="#") Charing Cross (Bakerloo, Northern, Overground)
                       |- 3 min walk.
                   li
                       a(href="#") Embankment (Bakerloo, Circle, District and Northern)
                       |- 6 min walk.
                   li
                       a(href="#") Leicester Square (Northern and Piccadily)
                       |- 10 min walk.
                   li
                       a(href="#") Holborn (Central)
                       |- 15 min walk.
                   li
                       a(href="#")  Waterloo - (Overground)
                       |- 20 mins walk.                    

    hr

    h1 Workshop Venue
    p.date Thursday 3rd March 2016
    p EnhanceConf workshop will take place at Code node.
    div#workshop
        div#workshopAddress
            h3 Address
            p
                address
                    |NodeCode
                    br
                    |10 South Place
                    br
                    |London
                    br
                    |EC2M 7EB
                    br
                    |United Kingdom
                    
    a(href="https://skillsmatter.com/contact-us#getthere" target="new") More info on getting to the workshop venue.
    script.
        // conf map
        var confMap = document.createElement('iframe');
        confMap.setAttribute('src', 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.2078305331684!2d-0.12264399999996381!3d51.509403000000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604c956d3a913%3A0x9dfc58443abcc46f!2sThe+RSA!5e0!3m2!1sen!2suk!4v1426927793592');
        var holder = document.getElementById('conf');
    
        var address = document.getElementById('confAddress');
        holder.replaceChild(confMap, address);
        // workshop map: 
        // 
        var workshopMap = document.createElement('iframe');
        workshopMap.setAttribute('src', 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2482.711652227004!2d-0.08830398482924336!3d51.51850587963694!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761cac6aabb2fb%3A0x91b283e2f67d1dbb!2sCodeNode!5e0!3m2!1sen!2suk!4v1451843145626');
        var wsHolder = document.getElementById('workshop');
    
        var wsAddress = document.getElementById('workshopAddress');
        wsHolder.replaceChild(workshopMap, wsAddress);
